.contact-compile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact-footer {
    margin-top: auto;
    margin-bottom: 0;
}

.contact-form-container {
    height: 100%;
}