@import '../../common/colors.scss';

.blog-container {
    background-color: $primary-color;
    padding: 5px 0px;
}

.blog-text {
    color: white;
    font-family: 'Roboto', sans-serif;

    h1 {
        text-align: center;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-weight: 500;
    }

    h4 {
        text-align: center;
        padding: 0;
        margin-top: 5px;
        font-weight: 100;
    }
}

.blog-cards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "jumbo side"
        "jumbo side";
    column-gap: 10px;
    padding: 15px;
}

.jumbo-card {
    grid-area: 'jumbo';
    min-height: 300px;
    background-color: green;
}

.side-card {
    grid-area: 'side';
    min-height: 300px;
    background-color: blue;
}